{% extends 'layouts.html' %}
{% load static %}
{% block title %}
About Us{% endblock %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <p></p>
        <h2>About Us</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="latest-albums-area section-padding-100">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="ablums-text text-center mb-70">
                    <p>Bunbury Classical is a grandeur experience for all enthusiasts who share a passion for music and art. Bunbury Classical isn’t just a musical event but it’s more of an initiative or a movement to spread awareness about different aspects of our  Indian heritage and culture and inspire young minds to seek the value and depth that our Indian culture holds. It seeks to inspire our  youth through experiencing the mysticism embodied in the rich and heterogeneous cultural tapestry of Indian and World Heritage, Our effort is to bring  light to  our rich musical and cultural  heritage, and showcase musical experiences at par with the world’s best.<br><br>
Concepts like modernity and westernization have also changed the perspective of Indian music. Nowadays, people rarely listen to classical music and those who still listen to it belong to the oldest generation. The young generation rarely knows about the great  Indian classical musicians like Bhimsen Joshi, Shiv Kumar Sharma, Hariprasad Chaurasiya, and Alla Rakha which is really a matter of concern that we are forgetting our roots and getting fascinated by western influence.
</p>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(/static/img/bg-img/bg-4.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img src="{% static 'img/bun8.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p></p>
                        <h2>Why did we start?</h2>
                    </div>
                    <p>As we all see the decline of Indian classical music culture in our country, pure  Indian classical Music which has always been a niche genre is losing its glory and significance in recent past years. In recent times, Indian classical music was being performed in private mehfils or in concert halls, but it has not gained that  mass popularity amongst the people even today. So we started  “Bunbury Classicals” to reach this sacred art to the masses. Classical Indian instruments like the Sitar, Sarangi, Tanpura, or Pakhawaj are constantly losing their popularity among the younger generation of musicians. Today’s youth or our so-called Gen-Z generation is now more inclined towards electronic instruments and gadgets, which is why we all are unable to listen to the magical combination of the Ragas and the soulful rendition of music masters. So here comes Bunbury Classicals to showcase and preserve the true Indian classical art we all forget with time.</p>
                    <!-- <div class="song-play-area">
                        <div class="song-name">
                            <p>01. Main Hit Song</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="{% static 'audio/dummy-audio.mp3'%} ">
                        </audio>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elements-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <!-- ========== Buttons ========== -->

            <!-- ========== Progress Bars & Accordions ========== -->
            <div class="col-12">

            </div>

            <!-- ##### Accordians ##### -->
            <div class="col-12 col-lg-6">
                <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Our Aim
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </a></h6>
                        <div id="collapseOne" class="accordion-content collapse show">
                            <p>We aim for a dream to revive the dying Indian culture and to support the development and strengthening of young musical talents in the field of Indian Classical music. Our event is a great opportunity for you to tap into unchartered water with the masses as we provide you with a large audience base to appeal to with a larger number of attendees we come to you with a massive opportunity to expand your brand awareness and leave a lasting impact over your audience.</p>
                        </div>
                    </div>
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Our Mission
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseTwo" class="accordion-content collapse">
                          <p>Most people belonging to the younger generation prefer  to listen to hip-hop, rap, and electronic music these days, because of this we see a decline in the popularity of Indian classical Music. Our major goal is to promote our cultural heritage that our youth is forgetting day by day due to the rise and getting the influence of westernization. Our aim  is to have our youth experience the inspiration and spirituality that is embodied in Indian arts and heritage</p>
                        </div>
                    </div>
                    <!-- single accordian area -->

                </div>
            </div>

            <!-- ##### Tabs ##### -->
            <div class="col-12 col-lg-6">
                <div class="oneMusic-tabs-content">
                    <img src="{% static 'img/bun6.jpeg'%}" alt="">
                </div>
            </div>

            <!-- ========== Loaders ========== -->
            <!-- <div class="col-12">
                <div class="elements-title mb-70">
                    <h2>Loaders</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="our-skills-area">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle" class="circle" data-value="0.75">
                                    <div class="skills-text">
                                        <span>75%</span>
                                        <p>Good Music</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle2" class="circle" data-value="0.83">
                                    <div class="skills-text">
                                        <span>83%</span>
                                        <p>Amazing Artists</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle3" class="circle" data-value="0.25">
                                    <div class="skills-text">
                                        <span>25%</span>
                                        <p>Concerts</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle4" class="circle" data-value="0.95">
                                    <div class="skills-text">
                                        <span>95%</span>
                                        <p>Superstars</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="elements-title mb-70">
                    <h2>Milestone</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="oneMusic-cool-facts-area">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2>+<span class="counter">1000</span></h2>
                                    <p>Live Concerts</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2><span class="counter">19</span>k</h2>
                                    <p>Followers on FB</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2><span class="counter">732</span></h2>
                                    <p>New Artists</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2><span class="counter">25</span>mil</h2>
                                    <p>Songs in Playlist</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2><span class="counter">2401</span></h2>
                                    <p>New Songs</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-2">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-text">
                                    <h2><span class="counter">28</span></h2>
                                    <p>Awards Won</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!-- ========== Icon Boxes ========== -->
            <!-- <div class="col-12">
                <div class="elements-title mb-70">
                    <h2>Icon Boxes</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="single-service-area d-flex flex-wrap mb-100">
                            <div class="icon">
                                <span class="icon-favorites"></span>
                            </div>
                            <div class="text">
                                <h5>New Artists</h5>
                                <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="single-service-area d-flex flex-wrap mb-100">
                            <div class="icon">
                                <span class="icon-microphone"></span>
                            </div>
                            <div class="text">
                                <h5>Amazing Music</h5>
                                <p>Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->



        </div>
    </div>
</section>
{% endblock %}
